.header {
  background-image: url(../../img/header.png);
  padding-bottom: 233px;
  padding-top: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../../img/header@2x.png);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .header {
    background-image: url(../../img/header@3x.png);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../../img/header@2x.webp);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .header {
    background-image: url(../../img/header@3x.webp);
  }
}
.header__logo {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $logo-color;
}
.header__btn {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: $logo-color;
  cursor: pointer;
  margin-right: 10px;
}
.header__button {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  color: $logo-color;
  border: 2px solid white;
  border-radius: 20px;
  padding: 11px 20px;
  cursor: pointer;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  color: $logo-color;
  margin-top: 125px;
  margin-bottom: 36px;
}
.header__text {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: $logo-color;
  margin-bottom: 33px;
}
.header__main-btn {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: $button-color;
  border: none;
  color: $logo-color;
  border-radius: 20px;
  padding: 13px 23px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

