.partner {
  padding-top: 64px;
  padding-bottom: 77px;
}
.partner__title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: $title-color;
}
.partner__img {
  width: 120px;
  height: 120px;
}
.partner__name {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $title-color;
}
.partner__item {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner__text {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: $title-color;
}
.partner__btn {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $button-color;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid $button-color;
  padding: 13px 25px;
  display: block;
  margin: 0 auto;
}
.partner__list{
  display: flex;
  justify-content: space-between;
}
