.partner {
  padding-top: 64px;
  padding-bottom: 77px;
}
.partner__title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: $title-color;
}
.partner__img {
  width: 120px;
  height: 120px;
}
.partner__name {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $title-color;
}
.partner__item{
    width: 225px;
}
